<footer class="footer">
  <div class="wrap">
    <figure class="footer__logo">
      <%= image_tag "logo_kakaku.gif" %>
    </figure>
    <p class="footer__txt">
      食べログは カカクコム グループです。
    </p>
    <div class="footer__rule"></div>
    <div class="footer__copy flex">
      <%= link_to root_path, class: 'contents' do %>
      <figure>
        <%= image_tag "logo_site_black.svg" %>
      </figure>
      <% end %>
      <small>Copyright &copy; Kakaku.com, Inc. All Rights Reserved. 無断転載禁止</small>
    </div>
  </div>
</footer>
